:root { --blue: #466eea; --green: #25d366; --red: #ff4444; --bg: #0a0e14; --card: #161b22; }
        body { font-family: 'Segoe UI', sans-serif; background: var(--bg); color: white; margin: 0; padding: 10px; }
        
        /* LOGIN OVERLAY */
        #login-screen { position: fixed; top:0; left:0; width:100%; height:100%; background: var(--bg); z-index: 10000; display: flex; flex-direction: column; justify-content: center; align-items: center; }
        
        .container { max-width: 450px; margin: auto; background: var(--card); border-radius: 20px; border: 1px solid #333; overflow: hidden; display: none; }
        .tabs { display: flex; background: #000; overflow-x: auto; }
        .tabs button { flex: 1; padding: 15px; border: none; color: #666; background: none; cursor: pointer; font-weight: bold; font-size: 10px; text-transform: uppercase; min-width: 80px; }
        .tabs button.active { color: var(--blue); border-bottom: 2px solid var(--blue); }
        
        .content { padding: 15px; }
        .section { display: none; }
        .section.active { display: block; }
        
        input, select { width: 100%; padding: 12px; margin: 6px 0; border-radius: 10px; border: 1px solid #333; background: #2d2d2d; color: white; box-sizing: border-box; }
        .btn { width: 100%; padding: 15px; border: none; border-radius: 10px; cursor: pointer; font-weight: bold; margin-top: 10px; }
        .btn-blue { background: var(--blue); color: white; }
        .btn-green { background: var(--green); color: white; display:none; }
        
        .card-info { background: #21262d; padding: 15px; border-radius: 12px; margin-top: 10px; border: 1px solid #30363d; }
        .stats-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 10px; margin-top: 10px; }
        .stat-box { background: #0d1117; padding: 10px; border-radius: 8px; text-align: center; border: 1px solid #30363d; }
        
        .search-bar { position: sticky; top: 0; background: var(--card); padding: 10px 0; z-index: 5; }
        #qrcode { background: white; padding: 10px; margin: 15px auto; display: none; width: fit-content; border-radius: 10px; }
        h1, h2 { font-family: sans-serif; text-align: center; width:  100%; margin: 0; padding: 0; background: linear-gradient(235deg, #266e58 0%,  #7d91fb 100%); color: #7e78; font-size: 30PX; }
       .conte { font-family: sans-serif; margin: 0; padding: 40px;  background-color: black; border: 1px solid #ccc; border-radius: 16px; width: 389px; margin: auto;  margin-bottom: 20px; }
